{% load static %}
<html>
<head>
    <title>Currency Viewer</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/refresh.js' %}"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <link rel="icon" href="{% static 'favicon.ico' %}">
</head>
<body>
    <h1 class="text-center mt-2 mb-2">Exchange Rates</h1>
    <div class="border mt-5 ml-4 mr-4" id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    
    <div class="d-flex justify-content-center mt-5">
        <form action="{% url 'currencies:index' %}" method="post">
            {% csrf_token %}
            {{ form.errors }}
            {{ form.as_table }}
            <input type="submit" value="Submit" style="visibility: hidden;" id="sub">
        </form>
    </div>

    <script>
        var coinName = document.getElementById("currency_name").value;
        var _categories = [
            {% for rate in rates %}
                '{{ rate.date }}',
            {% endfor %}
        ];

        var _rates = [
            {% for rate in rates %}
                {{ rate.value }},
            {% endfor %}
        ];
        Highcharts.chart('container', {
        chart: {
                type: 'line'
        },
        title: {
                text: 'Rates'
        },
        xAxis: {
                categories: _categories,
                crosshair: true
        },
        yAxis: {
                min: Math.min(..._rates)*0.98,
                title: {
            text: `Rate ( ${coinName} )`
                }
        },
        tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            `<td style="padding:0"><b>{point.y:.2f}${coinName}</b></td></tr>`,
                footerFormat: '</table>',
                shared: true,
                useHTML: true
        },
        plotOptions: {
                column: {
            pointPadding: 0.2,
            borderWidth: 0
          }
        },
        series: [{
                name: 'Price',
                data: _rates
        }]
        });
    </script>

</html>