<!-- print the select currency and all its rates within a maximum 5 business days -->
{% load static %}
<html>
<head>
    <title>Exchange Rates</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" >
        function refresh(){
        var submitButton = 
        document.getElementById("sub");
        submitButton.click();
        }
    </script>
</head>
<body>
    <h1>Exchange Rates</h1>
    {% for rate in rates %}
    
    <table>
        <tr>
            <th>Date</th>
            <th>Rate</th>
        </tr>
    <tr>
        <td>{{ rate.date }}</td>
        <td>{{ rate.value }}</td>
    </tr>
    {% endfor %}
    </table>
    <div class="d-flex justify-content-center">
        <form action="{% url 'currencies:index' %}" method="post">
            {% csrf_token %}
            {{ form.as_table }}
            <input type="submit" value="Submit" style="visibility: hidden;" id="sub">
        </form>
    </div>

</html>